<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Carousell Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="" async defer></script>
    </head>
    <body>
        <h2>Carousell Products</h2>
        <div>
            <form action="{{ url_for('home') }}" method="post">
                <input type="text" id="query" name="query" placeholder="Enter a new product">
                <input type="submit" value="Scrape">
            </form>
        </div>
    </body>
</html>