.products_table
{
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}
table th,
table td
{
    padding: 0.75rem;
    vertical-align: middle;
    padding: 8px;
}
table
{
    border-collapse: collapse;
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}
.alignment {
    text-align: center!important;
}
.modalHover {
    cursor: pointer;
}
table th.border,
table td.border
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.border {
    border: 1px solid black;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 80%;
    overflow: auto;
    background-color: white;
    pointer-events: all;
    border-radius: 1rem;
}
.modal-content {
    background-color: white;
    margin: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}