{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="mb-3 holdings_table">
    <h2 class="holdings_header">TRANSACTIONS</h2>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Type</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Total Value</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="shadow">
                    <td>{{ transaction["name"] }}</td>
                    <td>{{ transaction["transaction_type"] }}</td>
                    <td>{{ transaction["price"] }}</td>
                    <td>{{ transaction["amount"] }}</td>
                    <td>{{ transaction["cost"] }}</td>
                    <td>{{ transaction["date_time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}