{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="mb-3 holdings_table">
        <h2 class="holdings_header">HOLDINGS</h2>
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Shares Owned</th>
                    <th class="alignment">Price</th>
                    <th class="alignment">Total Value</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                    <tr class="shadow">
                        <td>{{ holding["name"] }}</td>
                        <td>{{ holding["amount"] }}</td>
                        <td class="alignment">{{ holding["price"] }}</td>
                        <td class="alignment">{{ holding["total"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="fw-bold alignment" colspan="3">Cash</td>
                    <td class="alignment">{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td class="fw-bold alignment" colspan="3">TOTAL</td>
                    <td class="alignment">{{ total | usd }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}